<div class="row">
<p id="notice"><%= notice %></p>

<div class="span9">
  <strong>Title:</strong>
  <%= @category.title %>
</div>

<% @category.items.each do |item| %>
	<div class="span2 shopeng-item">
		<%= image_tag item.image_url(:thumb).to_s %>
		<h3><%= item.title %></h3>
		
		<p>
			<%= truncate(item.text, length: 80, omission: "...") %>
		</p>
		<p>
			<%= link_to "View Details", item_path(item), :class => "btn btn-default" %>
		</p>
	</div>
<% end %>
	
<div class="span9">
<%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-default" %> 
<%= link_to 'Back', categories_path, :class => "btn btn-default" %>
<%= link_to 'New Item', new_category_item_path(@category), :class => "btn btn-default" %>
</div>
</div>
